.header {
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  display: flex;
}

.img {
  padding: 1rem;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  align-self: center;
}
@media (max-width: 1000px) {
  .header {
    justify-content: center;
  }
}
